{% extends "base.html" %}
{% block title %}Stations{% endblock %}
{% block head %}
    {{ super() }}
     <style>
        body { margin:0; padding:0; }
        .map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
{% endblock %}
{% block body %}
<h2>Stations</h2>

<div id='map-one' class='map'> </div>
<script>
    map = L.mapbox.map('map-one', 'mcelreath.jbh0nm5g');
    map.setView([40.718217, -73.998284], 14);
    map.addControl(L.mapbox.geocoderControl('mapbox.places-v1', {
        keepOpen: true
    }));
    var marker = L.icon({
        iconUrl: 'https://gmaps-samples.googlecode.com/svn/tags/torchrelay-video/maps/images/dot-red-transparent.png',
        iconSize: [7, 7],
    });
    {% for station in stations %}
        L.marker([{{ station['lat'] }}, {{ station['lon'] }}], {icon: marker}).addTo(map);
   {% endfor %}
</script>
{% endblock %}
